.Dollars {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.dollarsdesc {
  grid-column-start: 2;
  grid-row-start: 1;
}

.pennies {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0;
}

.dollaricon {
  width: 100px;
  height: auto;
  grid-column-start: 1;
  grid-row: 1 / span 2;
  align-self: center;
}
